<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">
	<div class="panel-body"">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>
				<i class="fa fa-info" style="font-size:20px"></i> <span style="font-size:20px"></i> <span style="font-size:18px; font-weight:bold;margin-left:20px">Contact </span>
				</div>
			</div>
			<div class="panel-body">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="thumbnail" src = "https://scontent-b-fra.xx.fbcdn.net/hphotos-frc3/t1.0-9/315649_157986847703292_1929048055_n.jpg" style = "height:200px; width:auto"/>
					</a>
					<div class="media-body">
						<h3>Razvan Rusu</h3>
						<i class="fa fa-envelope" style="font-size:20px"></i>   rusurazvangabriel@gmail.com
					</br>
					<i class="fa fa-mobile" style="font-size:30px"></i> <span>0726 034 050</span>
				</div>
			</div>
		</div>
</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>
				<i class="fa fa-book" style="font-size:20px"></i> <span  style="font-size:20px"></i> <span style="font-size:18px; font-weight:bold;margin-left:20px">Studii</span>
				</div>
			</div>
			<div class="panel-body">
				<h3>Universitatea din Bucuresti: Facultatea de Matematica si Informatica</h3>
				<p>Domeniul de licenta - Informatica ( Octombrie 2011 - Prezent )</p>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
			<div>
				<i class="fa fa-code" style="font-size:20px"></i> <span style="font-size:20px"></i> <span style="font-size:18px; font-weight:bold;margin-left:20px">Tehnologii</span>
			</div>
			</div>
			<div class="panel-body">
				<p style="font-size:16px">Limbaje de programare</p>
				<ul>
					<li>C/C++ <span class="badge">mediu</span></li>
					<li>Java <span class="badge">mediu</span></li>
					<li>C#: ASP.NET <span class="badge">mediu</span> </li>
					<li>Objective - C : iOS MVC <span class="badge">mediu</span></li>
				</ul>
				<p style="font-size:16px">Baze de date</p>
				<ul>

					<li>SQL/PLSQL <span class="badge">mediu</span></li>
					<li>SQL Server <span class="badge">mediu</span></li>
				</ul>

				<p style="font-size:16px">Web</p>
				<ul>
					<li>Ruby on Rails <span class="badge">incepator - mediu</span> </li>
					<li>HTML/CSS/JavaScript <span class="badge">mediu</span></li>
				</ul>

				<p>Cunostinte ale paradigmei de programare orientata pe obiect si a modelului de arhitectura Model View Controller</p>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
							<div>
				<i class="fa fa-comment" style="font-size:20px"></i> <span style="font-size:18px; font-weight:bold;margin-left:20px">Limbi Straine</span>
			</div>
			</div>
			<div class="panel-body">
				Engleza <span class="badge">mediu - avansat</span>
			</div>
		</div>

	</div>
</div>
