<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">
	<img class="thumbnail"  src="/assets/iosLogin.png" alt="rss feed" style = "height: 520px; width:auto" />
	<img class="thumbnail"  src="/assets/iosLoginKeyboard.png" alt="rss feed" style = "height: 520px; width:auto" />
	<img class="thumbnail"  src="/assets/Screen Shot 2014-04-14 at 18.38.31.png" alt="rss feed"  style = "height: 520px; width:auto"/>
	<img class="thumbnail"  src="/assets/Screen Shot 2014-04-14 at 18.39.06.png" alt="rss feed" style = "height: auto; width:500px" />
	<img class="thumbnail"  src="/assets/Screen Shot 2014-04-14 at 18.39.21.png" alt="rss feed" style = "height: 520px; width:auto" />
	<img class="thumbnail"  src="/assets/Screen Shot 2014-04-14 at 18.39.30.png" alt="rss feed" style = "height: 520px; width:auto" />
	<img class="thumbnail"  src="/assets/Screen Shot 2014-04-14 at 18.39.33.png" alt="rss feed"  style = "height: 520px; width:auto"/>
	<img class="thumbnail" src="/assets/Screen Shot 2014-04-14 at 18.39.44.png" alt="rss feed" style = "height: 520px; width:auto"/>
	
</div>
