<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">

<div class="media">
  <a class="pull-left" href="#">
    <img class="thumbnail media-object" src="/assets/image-000.png" alt="rss feed" style = "height: 450px; width:auto"/>
  </a>
  <div class="media-body">
  test
  </div>
</div>

	<img class="thumbnail media-object" src="/assets/image-000.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-001.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-002.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-003.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-004.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-005.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-006.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-0.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-1.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-2.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-3.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-4.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-5.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009-6.png" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/image-009.png" alt="rss feed" style = "height: 450px; width:auto"/>
</div>
