<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">
	
	<div class="media">
		<a class="pull-left" href="#">
			<%= image_tag( "snakeMenu.jpg", :class => "thumbnail", :style => "height: 450px; width:auto") %>
		</a>
		<div class="media-body">
			<h3>Razvan Rusu</h3>
			rusurazvangabriel@gmail.com
		</br>
		<i class="fa fa-mobile" style="font-size:30px"></i> <span>0726 034 050</span>
	</div>
</div>

<div class="media">
	<a class="pull-left" href="#">
	<%= image_tag( "snakeIngame1.jpg", :class => "thumbnail", :style => "height: 450px; width:auto") %>
	</a>
	<div class="media-body">
		<h3>Razvan Rusu</h3>
		rusurazvangabriel@gmail.com
	</br>
	<i class="fa fa-mobile" style="font-size:30px"></i> <span>0726 034 050</span>
</div>
</div>

<div class="media">
	<a class="pull-left" href="#">

		<img class="thumbnail" src="/assets/snakeIngame2.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
	</a>
	<div class="media-body">
		<h3>Razvan Rusu</h3>
		rusurazvangabriel@gmail.com
	</br>
	<i class="fa fa-mobile" style="font-size:30px"></i> <span>0726 034 050</span>
</div>
</div>

<div class="media">
	<a class="pull-left" href="#">

		<img class="thumbnail" src="/assets/snakeIngameend.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
	</a>
	<div class="media-body">
		<h3>Razvan Rusu</h3>
		rusurazvangabriel@gmail.com
	</br>
	<i class="fa fa-mobile" style="font-size:30px"></i> <span>0726 034 050</span>
</div>
</div>



</div>
