<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">
	<img class="thumbnail" src="/assets/snakeMenu.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/snakeIngame1.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/snakeIngame2.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
	<img class="thumbnail" src="/assets/snakeIngameend.jpg" alt="rss feed" style = "height: 450px; width:auto"/>
</div>
