<!-- start: HEADER -->

<!-- start: TOP NAVIGATION CONTAINER -->
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="container" style = "width:960px"> 
  <div id="menu" class="nav-menu" style="height:41px">
    <!-- start: TOP NAVIGATION MENU -->

    <ul class="nav nav-tabs" style="font-size:18px; font-weight:bold">
      <li class="menu-items1" style="height:20px"><a href="/home" style="color:#ffffff">Personal Info</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#ffffff">
          Projects <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
              <li><a href ="#" > iMakeMusic </a> </li>
              <li><a href ="#" > eCommerce Guitar Shop </a> </li>
              <li><a href ="#" > Ceva </a> </li>
              <li><a href ="#" > Ceva </a> </li>
          </ul>
      </li>
    </ul>
    <!-- end: TOP NAVIGATION MENU -->
  </div>

</div>

<!-- MENU -->


<!-- end: TOP NAVIGATION CONTAINER -->





    <!-- end: HEADER -->