<!-- start: HEADER -->

<!-- start: TOP NAVIGATION CONTAINER -->
<!-- Latest compiled and minified JavaScript -->


<link rel="stylesheet" type="text/css" href="http://code.jquery.com/jquery-2.1.0.min.js">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="container" style = "width:960px"> 
  <div id="menu" class="nav-menu" style="height:41px">
    <!-- start: TOP NAVIGATION MENU -->

    <ul class="nav nav-tabs" style="font-size:18px; font-weight:bold">
      <li class="menu-items1" style="height:20px"><a href="/home" style="color:#ffffff">Personal Info</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/home" style="color:#ffffff">
          Projects <span class="caret"></span>
        </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"">
              <li><a href ="/iMakeMusic" > iMakeMusic </a> </li>
              <li><a href ="/ASP_GuitarShop" > eCommerce Guitar Shop </a> </li>
              <li><a href ="/JavaChat" > Java Chat </a> </li>
              <li><a href ="/RailsEventManager" >Event Manager </a> </li>
              <li><a href ="/Snake" > Snake </a> </li>
          </ul>
      </li>
    </ul>
    <!-- end: TOP NAVIGATION MENU -->
  </div>

</div>

<!-- MENU -->


<!-- end: TOP NAVIGATION CONTAINER -->





    <!-- end: HEADER -->