/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


ul
{
	list-style-type: none;
}

body { 
	font-family: Helvetica, Sans-Serif;

}

html
{
background: rgb(23,76,109);
background: -moz-linear-gradient(top, rgba(23,76,109,1) 0%, rgba(34,146,226,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,76,109,1)), color-stop(100%,rgba(34,146,226,1)));
background: -webkit-linear-gradient(top, rgba(23,76,109,1) 0%,rgba(34,146,226,1) 100%);
background: -o-linear-gradient(top, rgba(23,76,109,1) 0%,rgba(34,146,226,1) 100%);
background: -ms-linear-gradient(top, rgba(23,76,109,1) 0%,rgba(34,146,226,1) 100%);
background: linear-gradient(to bottom, rgba(23,76,109,1) 0%,rgba(34,146,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#174c6d', endColorstr='#2292e2',GradientType=0 );
}
.center {
     margin-left: auto;
     margin-right: auto;
     height: 400px; 
     width:auto
}